@import url('https://fonts.googleapis.com/css2?family=Lora&family=poppins&family=Source+Sans=Pro&display=swap')

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
	background-color: lightgray;
	coler: #000a16;
	font-family: Lora, serif;
	font-size: 2vh;
	line-height: 3vh;
}

nav {
	position: fixed;
	top: 10px;
	left: 10px;
	font-family: Poppins, sans-serif;
	font-size: 2vh;
	line-height: 3vh;
}

nav > a {
	background-color: #89C2D9;
	color: white;
	padding: 2px 4px;
	text-decoration: none;
	opacity: 0.6;
}

nav > a:not(:first-of-type) {
	border-left: solid 2px white;
}

nav > a:first-of-type {
	width: 2.4vw;
}

nav > a:hover {
	opacity: 0.95;
}

nav > a:visited {
	color: white;
}

a, a:visited {
	background-color: #89C2D9;
	text-decoration: underline;
}