
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Noto+Serif+TC:wght@500&family=Yeseva+One&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
	background-color: lightgray;
	coler: #000a16;
	font-family: 'Libre Baskerville', serif;
	font-size: 2vh;
	line-height: 3vh;
	text-align: center;
}


p {
	text-align: left;
	font-size: 2vh;
	line-height: 3vh;
	text-indent: 5%;
}

nav {
	margin-top: 40px;
	font-family: 'Libre Baskerville', serif;
	font-size: 3vh;
	line-height: 4.5vh;
}

nav > a {
	background-color: slategray;
	color: white;
	padding: 2px 5px;
	text-decoration: none;
	opacity: 0.6;
}

nav > a:not(:first-of-type) {
	border-left: solid 4px lightgray;
	border-radius: 15px;
}

nav > a:first-of-type {
	width: 2.4vw;
	background-color: lightgray;
	opacity: 1;
}

nav > a:hover {
	opacity: 0.95;
}

nav > a:last-of-type {
	width: 2.4vw;
	background-color: lightgray;
	opacity: 1;
}

img#img1 {
	width: 600px;
	height: 400px;
	margin-top: 60px;
}

img#img2, img#img5 {
	float: right;
	margin-right: 150px;
	margin-top: 40px;
	width: 300px;
	height: 300px;
}

img#img51 {
    float: right;
	margin-right: 150px;
	margin-top: 80px;
	width: 300px;
	height: 300px;
}

img#img3 {
	float: left;
	margin-left: 150px;
	width: 400px;
	height: 300px;
}

img#img6 {
float: left;
	margin-left: 150px;
	margin-top: 100px;
	width: 300px;
	height: 300px;	
}

img {
	border-radius: 20px;
}

h3, p#p1, p#p2, p#c2, p#c3 {
	margin-right: 600px;
	margin-left: 100px;
	margin-top: 30px;
}

h4, p#p3, p#p5 {
	margin-right: 100px;
	margin-left: 600px;
	margin-top: 20px;
}

p#c4 {
	margin-right: 100px;
	margin-left: 600px;
	margin-top: 80px;
} 


p#c5 {
	margin-right: 100px;
	margin-left: 600px;
	margin-top: 50px;
}

p#c6 {
	margin-right: 600px;
	margin-left: 100px;
	margin-top: 150px;
}

p#c7 {
	margin-right: 100px;
	margin-left: 600px;
}

h5 {
	margin-right: 100px;
	margin-left: 600px;
	margin-top: 80px;
}

p#p4 {
	margin-right: 600px;
	margin-left: 100px;
	margin-top: 50px;
}

h1 {
	font-family: 'Yeseva One', cursive;
	font-size: 4vh;
	line-height: 6vh;
	color: slategray;
}

h2, h3, h4, h5, h6 {
	font-family: 'Yeseva One', cursive;
	font-size: 3vh;
	line-height: 4.5vh;
	color: slategray;
}

h6 {
	margin-top: 50px;
}

p#c1 {
	font-family:  'Noto Serif TC', serif;
	font-size: 4vh;
	line-height: 6vh;
	color: slategray;
}

p#c2, p#c4, p#c8 {
	font-family:  'Noto Serif TC', serif;
	font-size: 3vh;
	line-height: 4.5vh;
	color: slategray;
}

p#c3, p#c5, p#c6, p#c7 {
	font-family:  'Noto Serif TC', serif;
	font-size: 2vh;
	line-height: 3vh;
}

button:hover {
	opacity: 0.7;
}

button > a:hover {
	opacity: 0.7;
}

button {
	background-color: slategray;
	border: none;
	text-align: center;
	opacity: 0.85;
	padding: 2px 4px;
	font-family: 'Libre Baskerville', serif;
	font-size: 2vh;
	line-height: 3vh;
	border-radius: 12px;
	margin: 2px 2px;
}

button > a {
	color: white;
	text-decoration: none;
}

a#hyper {
	background-color: slategray;
}

button#cv {
	margin-bottom: 90px;
}

button#song1 {
	margin-right: 100px;
	margin-left: 600px;
}

button#song2 {
	margin-right: 500px;
	margin-left: 300px;
}
